html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #121212;
    color: #e0e0e0;
    padding: 0;
}

.navbar-brand {
    color: white;
}

.container-fluid {
    background-color: #121212;
}

.navbar {
    background-color: #121212;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    color: #ffffff;
    padding: 10px;
    border: 1px solid #333;
}

th {
    background-color: #1e1e1e;
}

table {
    background-color: #121212;
}

tr:hover {
    background-color: #333;
}
